@import "../../scss/variables";
@import "../../scss/mixins";

.loading-indicator {
  display: flex;
  align-items: center;

  &::before {
    $size: 1.26em;

    content: "";
    display: inline-block;
    width: $size;
    height: $size;
    margin-right: 1em;
    border: 2px solid;
    border-color: $blue-500 $gray-300;
    border-radius: 50%;
    animation: rolling 1s linear infinite;
  }
}

@keyframes rolling {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
