@import "./scss/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: $gray-700;
  background-color: $gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@mixin as-link {
  cursor: pointer;
  color: $blue-400;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue-600;
  }
}

a {
  @include as-link();
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;

  @media screen and (min-width: $break-point-md) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-top {
  display: flex;
  justify-content: space-between;

  .go-back {
    @include as-link();
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-flex;
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.2em;
      border: 2px solid currentColor;
      border-style: none none solid solid;
      transform: rotate(45deg);
    }
  }
}

.dl-group {
  display: flex;
  padding: $size-lg 0;
  border-bottom: 1px solid $border-color;

  dt {
    min-width: 5em;
  }
}

.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.05em;
}
